@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
.col-md-offset-right-1, .col-lg-offset-right-1 {
  margin-right: 8.33333333%;
}
*{
    box-sizing: border-box;
}
body{
    line-height: 24px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: #777777;
}

/* strat header */
header{
    background-image: url('../img/banner_bg.jpg');
    background-size: cover;
    background-position-x: center;
    background-position-y: 0px;
    position: relative;
    z-index: 1;
}
header .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.397);
    z-index: -1;
}
header

/* start navbar */
.navbar{
    background: #fff;
    height: 80px;
    z-index: 3;
}
.navbar .navbar-toggler{
    border: none;
    outline: none;
}
.navbar .navbar-toggler span{
    display: block;
    width: 25px;
    height: 3px;
    background: #fab915;
    margin: auto;
    margin-bottom: 4px;
    transition: all 400ms linear;
    cursor: pointer;
}
.navbar .nav-item .nav-link{
    font-size: 12px;
    font-weight: 500;
    color: #222222;
    font-style: normal;
}
.navbar .nav-item.active .nav-link,
.navbar .nav-item .nav-link:hover{
    color: #52c5fd;
}
/* end navbar */

/* start content */
.content{
    color: #fff;
    margin: 150px auto;
    z-index: 3;
}
.content h6{
    letter-spacing: 1.4px;
    font-weight: 400;
    text-transform: uppercase;
}
.content h1{
    font-weight: 900;
    font-size: xxx-large;
    line-height: initial;
}
.content p{
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    padding: 10px 0px 20px;
}
.content .btn{
    padding: 8px 23px;
    border-radius: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}
/* end content */

/* start book */
.book {
    background-color: #04091e;
    padding: 30px 30px 15px;
}
.book h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
}
.book form{
    padding: 0 3%;
}
.book form .form-group{
    position: relative;
}
.book form .form-group span i{
    position: absolute;
    right: 5px;
    top: 11px;
}
.book form .form-control{
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    background-color: transparent;
    border: 1px solid #2b3146;
    color: #fff;
    font-weight: 300;
}
.book form ::placeholder{
    color: #777;
    font-weight: 100;
}
.book form input[type="submit"]{
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    text-transform: uppercase;
}
/* end book */
/* end header */


/* media query */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
    /* header */
    header .book{
        margin: 0;
        min-width: 100%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    /* header */
    header .book{
        margin: 0;
        min-width: 100%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px){
}